<section>
    <h3>Flocking</h3>
    <span (click)="noFlock()" [class]="classNoFlock">No flock</span>
    <span (click)="Flock()" [class]="classFlock">Players</span>
    <span [class]="classJoueur">
        <select name="pets" id="pet-select">
            <option value="">--Sélectionnez le Joueur--</option>
            <option value="CHIELLINI">CHIELLINI - 3</option>
            <option value="DELIGT">DE LIGT - 4</option>
            <option value="ARTHUR">ARTHUR - 5</option>
            <option value="KHEDIRA">KHEDIRA - 6</option>
            <option value="RONALDO">RONALDO - 7</option>
            <option value="RAMSEY">RAMSEY - 8</option>
            <option value="MORATA">MORATA - 9</option>
            <option value="DYBALA">DYBALA - 10</option>
            <option value="ALEXSANDRO">ALEX SANDRO - 12</option>
            <option value="CUADRARO">CUADRARO - 16</option>
            <option value="BONUCCI">BONUCCI - 19</option>
            <option value="CHIESA">CHIESA - 22</option>
            <option value="RABIOT">RABIOT - 25</option>
            <option value="BERNARDESCHI">BERNARDESCHI - 33</option>
            <option value="KULUSEVSKI">KULUSEVSKI - 44</option>
        </select>
    </span>   
</section>
<section>
    <h3>Badges</h3>
    <div id="badges">
        <img src="assets/images/badge1.jpg" alt="">
        <img src="assets/images/badge2.png" alt="">
        <img src="assets/images/badge3.jpg" alt="">
    </div>
    <div id="badgesSelector">
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
    </div>
</section>